In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import preprocessing
import statsmodels.formula.api as sm
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [34]:
# reading the model data into a pandas dataframe
df = pd.read_csv('model.csv')
# drop unnecessary columns
df = df.drop(['Unnamed: 0'], axis = 1)

In [35]:
# check if the import worked
df.head()

,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,grade,yr_renovated,price
0,0.2,0.066667,0.061503,0.0,0.0,0.0,0.5,0.4,0.0,0.018880
1,0.2,0.233333,0.167046,0.4,0.0,0.0,0.5,0.4,1.0,0.060352
2,0.1,0.066667,0.030372,0.0,0.0,0.0,0.5,0.3,0.0,0.013382
3,0.3,0.333333,0.120729,0.0,0.0,0.0,1.0,0.4,0.0,0.069011
4,0.2,0.200000,0.099468,0.0,0.0,0.0,0.5,0.5,0.0,0.056678

***
### Preparing the model
***

In [38]:
# defining variables for the model for simple linear regression

y = df['price'] # define y as price, the variable we want to predict

X = df.drop(['price'], axis=1) # define x as our inputs variables

lm = linear_model.LinearRegression() # choose the model

model = lm.fit(X,y) # fit the model
lm.score(X,y) # model scores

0.6102529322810382

In [37]:
# We will use train_test_split to split our dataset into a training and a prediction set

# train-test-split for defining variable
X_train, X_test, y_train, y_test=tts(X, y, test_size=0.2, random_state=42)  # random state fixed sample

In [42]:
# Do some actual predictions with the model

data = train_test_split(X,y, test_size=0.4, random_state=100) # data input

lm = linear_model.LinearRegression() # choose the model
model = lm.fit(X_train,y_train) # fit the model
predictions  = lm.predict(X_test) # run the model against our predictions dataset
print("the R2 Score is: " + str(r2_score(y_test, predictions))) # take a look at the the r2 score, which measures the error of our predictions

the R2 Score is: 0.606281708057341

In [30]:
predictions  = lm.predict(X)
predictions

array([0.02676812, 0.07724084, 0.00730683, ..., 0.02623663, 0.04742999,
       0.02623663])

In [28]:
mse = mean_squared_error(y_test, predictions)
print(mse)

0.000887896073646081